<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title> 후보자 등록하기 </title>
    </head>
    
    <body>
        <h1>후보자를 등록합니다.</h1>
        <table width="100%" border="1">
            <tr>
                <th>후보자 정보</th>
                <th>등록</th>
            </tr>
            <% candidateList.forEach(function(item, index){ %>
                <tr>
                    <td><%= item.result%></td> 
                    <td><a href='/setCandidate/<%= item.result%>'> <input type = "submit" value="등록" name=""> </td>
                    </tr>
                <%});%>
        </table>
    </body>
</html>
